.profileContainer {
  position: absolute;
  background-color: #FBEFFB;
  width: 390px;
  height: 140px;
  top: 115px;
  left: 0px;
}

.textStyle {
  color: #610B5E;
}

.header_bottom_wrapper{
  display:flex;
  align-items:center;
  justify-content:center;
}
.header_bottom_follow_button{
  border-radius: 0.2rem;
  background: #F5A9F2;
  color: #190707;
  font-weight: bold;
  border: 1px solid #F2F2F2;
  width: 80%;
}
.header_bottom_cancel_button{
  border-radius: 0.2rem;
  background: #F5A9F2;
  color: #190707;
  font-weight: bold;
  border: 1px solid #F2F2F2;
  width: 20%;
}
.header_bottom_follow_button:hover{
  background: pink;
  color:black;
  cursor:pointer;
}
.header_bottom_cancel_button:hover{
  background: pink;
  color:black;
  cursor:pointer;
}
