.Wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 19px;
  background: white;
  position: absolute;
  width: 45px;
  height: 45px;
  left: 173px;
  top: 780px;
  font-weight: bold;
}

.dropdown-container {
  position: absolute;
  text-align: center;
  z-index: 9;
}

.dropdown-button {
  cursor: pointer;
  z-index:9;
}

/*dropdown button 클릭시 나오는 menu*/
.menu {
  background: white;
  position: absolute;
  top: -483px;
  left: 23px;
  width: 373px;
  height: 458px;
  text-align: center;
  border-radius: 32px;
  outline: 2px solid #DA5E9D;
  opacity: 0;
  visibility: hidden;
  transform: translate(-187px, -0px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  z-index: 9;
}

.menu.open {
  opacity: 1;
  visibility: visible;
  left: 50%;
}

.triangle-wrapper {
  position: relative;
  width: 0;
  height: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.triangle-outer {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid #DA5E9D;
  position: absolute;
  top: -80px; /* 위쪽으로 이동하여 겹치도록 설정 */
  visibility: hidden;
  opacity: 0;
  z-index: 8;
  transform: scaleY(-1);
}

.triangle-outer.fade-in {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.triangle-inner {
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 35px solid white;
  position: absolute;
  top: -80px; /* 위쪽으로 이동하여 겹치도록 설정 */
  visibility: hidden;
  opacity: 0;
  z-index: 9;
  transform: scaleY(-1);
}

.triangle-inner.fade-in {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu-title {
  position : relative;
  font-family: Inter;
  font-size: 20px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: -0.40799999237060547px;
  text-align: left;
  width: 120px;
  height: 22px;
  top: 5px;
  left: 22px;
  background: transparent;
  color: #DA5E9D;
}

.menu-container {
  position : relative;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 0px;
  letter-spacing: -0.40799999237060547px;
  background: transparent;
  color: #DA5E9D;
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  margin: 1.5rem;
  padding: 0px;
}

/*후원 버튼*/
.support-button {
  background-color: white;
  border: transparent;

  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: -0.40799999237060547px;
  background: transparent;
  color: #DA5E9D;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content : center;
  vertical-align: text-bottom;
}

/* 댓글 스타일 */
.comment-container {
  height: 200px;
  width: 200px;
  max-height: 400px; /* Set a maximum height to limit the comment container's size */
  overflow-y: auto; /* Add vertical scrollbar if comments overflow */
  padding: 60px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column-reverse; /* Reverse the direction of content */
  line-height: 1.4;
  color: #000000;
}