.collection-title {
  color: #DA5E9D;
}

.collection-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.collection-list {
  position: relative;
  width: 95%;
  height: 60%;
}

.collection-input-container {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 15%;
  top: 5%;
}

.collecion-input-title {
  width: 100%;
}

.collection-input-setPublic {
  position: relative;
  width: 20%;
  top: 5%;
}

.collection-input-button {
  position: relative;
  right: -58%;
  border: 10%;
  border-radius: 0.3rem;
  color: white;
  background: #DA5E9D;
  border-color: #DA5E9D;
  top: 7%;
}