.swiperToon-wrapper {
  position: absolute;
  top: 113px;
  width: 100%;
  height: calc(100% - 200px);
}
.swiperLR-toon-container{
  width:500px;
  height: 790px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 400px 8px -400px inset;
}
.swiperLR-toon-wrapper{
  width: 440px;
  height: 782px;
  border-radius: 10px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.swiperLR-toonInfo-wrapper{
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s ease-in-out
}
.swiperLR-toonInfo{
  position: fixed;
  width: 95%;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255, 0.95);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  box-shadow: inset 0px 0px 100px rgba(218, 94, 157, 0.1);
  animation: fadeIn 0.1s ease-in-out;
}
.swiperLR-toonInfo-contents{
  margin: 0.5rem;
}
.swiperLR-toonInfo h2{
  height: 8%;
  margin: 0.5rem;
  font-size: 1.2rem;
}
.swiperLR-toonInfo-author-wrapper{
  width:100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiperLR-toonInfo-author-wrapper:active{
  width:100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  border-bottom: 1px solid #DA5E9D;
  border-top: 1px solid #DA5E9D;
  border-radius: 0.5rem;
}
.swiperLR-toonInfo-author-profile{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  border-bottom: 1px solid white;
}
.swiperLR-toonInfo-likeAndView-wrapper{
  height: 8%;
  width: 100%;
  display:flex;
  margin: 0rem;
  justify-content: center;
  align-items: center;
}
.swiperLR-toonInfo-likeAndView-wrapper p{
  margin: 0.2rem;
}
.swiperLR-toonInfo h3{
  margin: 0.2rem;
  height: 60%;
  font-weight: 500;
  font-size: 20px;
}


