.dropdown-wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 19px;
  font-weight: bold;
  position:absolute;
  right: 3px;
}

.dropdown-button {
  cursor: pointer;
  z-index: 9;
  right:15px;
  top:48px;
}

.dropdown-container {
  position: absolute;
  text-align: center;
  z-index: 9;
}

.menu {
  background: white;
  position: fixed;
  top: 110px;
  right: -100%;
  width: 273px;
  height: calc(100% - 220px);
  text-align: center;
  border-radius: 10px;
  outline: 2px solid #DA5E9D;
  visibility: hidden;
  transition: right 0.3s ease;
  z-index: 9;
}

.menu.open {
  visibility: visible;
  right: 3px;
}

.menu-title {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.40799999237060547px;
  text-align: left;
  padding: 15px;
  background: transparent;
  color: #DA5E9D;
}

.menu-container {
  position: relative;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 0px;
  letter-spacing: -0.40799999237060547px;
  background: transparent;
  color: #DA5E9D;
  text-decoration: none;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  margin: 1.5rem;
  padding: 0px;
}

.menu-button {
  background-color: white;
  border: transparent;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: -0.40799999237060547px;
  background: transparent;
  color: #DA5E9D;
  text-decoration: none;
  display: flex;
  padding-bottom: 16px;
}

.menu-button span {
  vertical-align: middle;
}

.menu-button img {
  width: 24px;
  height: 24px;
}

.dropdown-hr {
  margin: 0px;
  border-color: #ffd8ec;
}