/*footer*/

.footer_button_grey{
  margin: .5rem;
  border-radius: .2rem;
}
.footer_button_grey button{
  font-weight: bold;
}
.footer_button_pink{
  margin: .5rem;
}
.footer_button_pink button{
  font-weight: bold;
  background-color: #FFB4FF;
  border-radius: .2rem;
}
.footer_button_pink button:disabled {
  background-color: #ffb4ff;
  border-radius: 0.2rem;
  cursor: not-allowed;
}
.footer_button_pink button:hover{
  background-color: #FF9BE6	;
  border-radius: .2rem;
}
.footer_button_info{
  width: 60%;
  display: flex;
}
.footer_button_info p{
  font-weight: bold;
  margin: 0.65rem;
  color: red;
  
}