.info_genre{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.info_genre span{
  margin:1rem;
  width:10%;
  font-size: 15px;
  font-weight: bold;
}
.info_genre_checkbox{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 4.5rem);
  gap: .8rem .3rem;
}
.info_genre_checkbox label{
  font-size: 14px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.info_genre_checkbox input{
  accent-color: #c83cc8;
  margin: 0.5rem;
  cursor: pointer;
}