.info_description{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  left: .2rem;
}
.info_description span{
  margin:0.5rem;
  font-size: 15px;
  font-weight: bold;
}
.info_description textarea{
  width: 78%;
  height: 90%;
  resize: none;
  border-radius: 2%;
  border: transparent;

  font-weight: bold;
}

.info_description p{
  position: absolute;
  top: 80%;
  right: 8%;
  color: #dcdcdc;
}