/*rule*/

.rule_header{
  display: flex;
  flex-direction: row;
  height: 0.5rem;
  align-items: center;
  margin: 0.5rem;

}
.rule_header p{
  font-size: 15px;
  font-weight: bold;
  margin: 0.5rem;
  
}
.rule_content{
  font-size: 12px;
  margin: 0.7rem;
}
.rule_checkbox{
  height:1rem;
  margin: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rule_checkbox input{
  accent-color: 	#c83cc8;
  cursor:pointer;
}
.rule_checkbox label{
  font-weight:600;
}