.app-container {
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  height: 100%;
  width: 100%; 
  background: white;
  overflow: hidden;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.divLineHeader {
  position: absolute;
  top: 105px;
  width: 100%;
  height: 0px;
  left: 0px;
  border: 4px solid #DA5E9D;
  background-color: #DA5E9D;
}

.divLineMid {
  position: absolute;
  top: 256px;
  width: 100%;
  height: 0px;
  left: 0px;
  border: 2px solid #DA5E9D;
  background-color: #DA5E9D;
}

.divLineBottom {
  position: absolute;
  bottom: 80px;
  width: 100%;
  height: 0px;
  left: 0px;
  border: 4px solid #DA5E9D;
  background-color: #DA5E9D;
}