.container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  height: 844px;
  width: 390px; 
  background: white;
  overflow: hidden;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem;
}

/* Optional styles for the items to control spacing */
.item {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  display: flex;
}

.divLineHeader {
  position: absolute;
  top: 105px;
  width: 383px;
  height: 0px;
  left: 0px;
  border: 4px solid #DA5E9D;
  background-color: #DA5E9D;
}

.divLineMid {
  position: absolute;
  top: 256px;
  width: 387px;
  height: 0px;
  left: 0px;
  border: 2px solid #DA5E9D;
  background-color: #DA5E9D;
}

.divLineBottom {
  position: absolute;
  top: 753px;
  width: 383px;
  height: 0px;
  left: 0px;
  border: 4px solid #DA5E9D;
  background-color: #DA5E9D;
}