/*info*/

.info_header{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;

}
.info_header p{
  font-size: 1rem;
  font-weight: bold;
  margin:0;  
}
.info_content{
  margin: 0;
}
.info_content p{
  margin: 0.3rem;
}

