/*info*/
.info_title{
  width:100%;
  margin: .2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}
.info_title span{
  margin:0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
}
.info_title input{
  width: 85%;
  border-radius: 2px;
  border: transparent;
}
.info_title p{
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 0.8rem;
  color: #dcdcdc;
}