/*SwiperProfiles*/
.profiles-container{
  position: absolute;
  top: 145px;
  left: 0px;
  width: 100%;
  height: 135px;

  outline: 2px solid transparent;
}
.profile-info-wrapper{
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile-wrapper{
  width:90px;
  height:100px
}
.profile-image{
  border-radius: 50%;
  width: 100%;
  height: 90%;
  border-radius: 50%;
  background:#FBEFFB;
  overflow: hidden;
}
.profile-image img{
  width:100%;
  height:100%;
  object-fit: cover;
}
.profile-info{
  width:100%;
  height:10%;
  margin:0;
  border-radius: 5px;
  background: #FBEFFB;
}
.profile-info p{
  font-size: 13px;
  margin: 0;
}