.container{
  position: absolute;
  /*썸네일 들어갈 영역 크기 지정*/
  top: 260px;
  left: 0px;
  width: 390px;
  height: 570px;
  
  background:whitesmoke;
  outline: 2px solid transparent;
  overflow: hidden;
}
.scrollbar{
  overflow-y: scroll;
  /*스크롤 기능은 썸네일 컨테이너 전체 영역*/
  height: 100%;
  width: 100%;
}
::-webkit-scrollbar { 
  display: none;
}

.bookmarks_row{
  display: flex;
  flex-wrap: wrap;
  padding: 0.1rem;
  justify-content: flex-start;
  align-items: flex-start;
  /*썸네일 1 row 상의 영역 height*/
  height: 50%;
  transition: margin-top 0.3s;
}

.bookmarks_thumbnail_wrapper{
  text-align: center;
  font-size: 18px;

  width:50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}
.bookmarks_thumbnail {
  background: whitesmoke;
  outline: 1px solid pink;
  width: 70%;
  height: 70%;
  box-shadow: 1px 1px 2px 2px rgb(217, 211, 211);
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
.bookmarks_thumbnail img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bookmarks_thumbnail_info{
  
}
