.thumbnails-container{
  position: absolute;
  width: 100%;  
  top: 285px;
  left: 0px;
  height: 100%;
  
  background:whitesmoke;
  outline: 2px solid transparent;
  overflow: hidden;
}

.thumbnails-scrollbar{
  overflow-y: scroll;
  /*스크롤 기능은 썸네일 컨테이너 전체 영역*/
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
}
::-webkit-scrollbar { 
  display: none;
}

.thumbnails-row{
  display: flex;
  flex-wrap: wrap;
  padding: 0.1rem;
  justify-content: flex-start;
  align-items: flex-start;
  /*썸네일 1 row 상의 영역 height*/
  transition: margin-top 0.3s;
}

.thumbnails-box {
  text-align: center;
  font-size: 18px;

  /*썸네일 하나하나의 크기 지정*/
  margin: 4px; /* 추가: 각 박스 사이의 간격을 조절 */
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .thumbnails-box {
    width: calc(20% - 0.5rem); /* 화면 너비가 1200px 이하일 때 33%로 설정 */
  }
}

@media screen and (max-width: 768px) {
  .thumbnails-box {
    width: calc(25% - 0.5rem); /* 화면 너비가 768px 이하일 때 25%로 설정 */
  }
}

@media screen and (max-width: 480px) {
  .thumbnails-box {
    width: calc(33% - 0.5rem); /* 화면 너비가 480px 이하일 때 20%로 설정 */
  }
}


.thumbnails-box-thumbnail{
  margin: 0.1rem;
  border-radius: 5px;
  background: #FBEFFB;
  width: 100%;
  height: 90%;
}
.thumbnails-box-thumbnail img{
  width:100%;
  height:100%;
  object-fit: cover;

}
.thumbnails-box-info{
  margin:0.1rem;
  border-radius: 5px;
  width:100%;
  height:8%;
  background: #FBEFFB;
}
.thumbnails-box-info p{
  margin: 0;
  font-size: 0.5rem;
  overflow:hidden;
  text-overflow: ellipsis;
}

.thumbnails-register-button{
  background: white;
  width: 90%;
  height:30px;
  margin: 5px;
  margin-left: 5%;
  border: 1px solid #DA5E9D;
  border-radius: 0.3rem;
  color: #DA5E9D;
  font-weight: bold;
}

.thumbnails-choose-wrapper{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid transparent;
  align-items: center;
  background: #DA5E9D;
}
.thumbnails-choose-wrapper button{
  border-radius: 2px;
  border: 1px solid #DA5E9D;
}