.container{
  position: absolute;
  /*썸네일 들어갈 영역 크기 지정*/
  top: 260px;
  left: 0px;
  width: 100%;
  height: 570px;
  
  background:whitesmoke;
  outline: 2px solid transparent;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/*등록창*/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.newCollection_box_background{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  animation: fadeIn 0.3s ease-in-out
}
.newCollection_box_contents{
  position: absolute;
  width: 80%;
  height: 60%;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255, 0.95);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  box-shadow: inset 0px 0px 100px rgba(218, 94, 157, 0.1);
  animation: fadeIn 0.1s ease-in-out;
}
.newCollection_box_contents_header{
  height: 18%;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-right: 6.3rem;
}
.newCollection_box_contents_title{
  height: 18%;
  margin: 0.5rem;
}
.newCollection_box_contents_title input{
  background: transparent;
  border: transparent;
  border-bottom: 2px solid #DA5E9D;
  border-radius: 0;
}
.newCollection_box_contents_IsClosed{
  height: 18%;
  margin: 0.5rem;
}
.newCollection_box_contents_IsClosed select{
  background: transparent;
  border: transparent;
  border-bottom: 2px solid #DA5E9D;
  margin-right: 7rem;
}
.newCollection_box_contents_bottom{
  height: 18%;
  margin: 0.5rem;
  margin-left: 6rem;
}
.newCollection_make_button{
  background: #DA5E9D;;
  border: transparent;
  border-radius: 2rem;
  color: white;
}
.newCollection_make_button:hover{
  background: #C71585;
  color: white;
}
.newCollection_cancel_button{
  background: transparent;
  border: transparent;
  border-radius: 2rem;
}
.newCollection_cancel_button:hover{
  background: #FFDCE1;
  border: transparent;
  color: white;
  border-radius: 2rem;
}

/*본문*/

.newCollection{
  display: flex;
  justify-content: center;
  align-items: center;
}
.newCollection button{
  background: white;
  width: 90%;
  height: 30px;
  margin: 5px;
  border: 1px solid #DA5E9D;;
  border-radius: 0.3rem;
  color: #DA5E9D;;
  font-weight: bold;
}

.scrollbar{
  overflow-y: scroll;
  /*스크롤 기능은 썸네일 컨테이너 전체 영역*/
  height: 100%;
  width: 100%;
}
::-webkit-scrollbar { 
  display: none;
}

.collections_row{
  display: flex;
  flex-wrap: wrap;
  padding: 0.1rem;
  justify-content: flex-start;
  align-items: flex-start;
  transition: margin-top 0.3s;
  height: 40%;
}



.collections_prevInfo_wrapper{
  text-align: center;
  font-size: 18px;

  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}


@media screen and (max-width: 1200px) {
  .collections_prevInfo_wrapper-box {
    width: calc(20% - 0.5rem); /* 화면 너비가 1200px 이하일 때 33%로 설정 */
  }
}

@media screen and (max-width: 768px) {
  .collections_prevInfo_wrapper-box {
    width: calc(25% - 0.5rem); /* 화면 너비가 768px 이하일 때 25%로 설정 */
  }
}

@media screen and (max-width: 480px) {
  .collections_prevInfo_wrapper {
    width: calc(33% - 0.5rem); /* 화면 너비가 480px 이하일 때 20%로 설정 */
  }
}


.collections_preview {
  background: whitesmoke;
  outline: 1px solid pink;
  width: 90%;
  height: 80%;
  box-shadow: 1px 1px 2px 2px rgb(217, 211, 211);
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
.collections_preview img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collections_info{
  height: 13%;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
}